aside.aside-bar 
    a.link-head-page(href='Overview.html') 
        img.w-100(src="images/ddWhite.png", alt="")
    ul.list-unstyled 
        li(class = pageTitl === "overview" ? "link-list  active" : " link-list" ) 
            a(href="Overview.html") 
                .icon 
                    i.fas.fa-chart-pie.fa-fw.fa-2x
                div.text Overview
        li(class = pageTitl === "Training" ? "link-list  active" : " link-list" ) 
            a(href="Training.html") 
                .icon 
                    i.fas.fa-dumbbell.fa-fw.fa-2x
                div.text Training
        li(class = pageTitl === "Diet" ? "link-list  active" : " link-list" ) 
            a(href="Diet.html") 
                .icon 
                    i.fas.fa-utensils.fa-fw.fa-2x
                div Nutrition
        li(class = pageTitl === "Chat" ? "link-list  active" : " link-list" ) 
            a(href="Chat.html") 
                .icon 
                    i.far.fa-comments.fa-fw.fa-2x
                div.text Chat
        li(class = pageTitl === "Challenge" ? "link-list  active" : " link-list" ) 
            a(href="Challenge.html") 
                .icon 
                    i.fas.fa-medal.fa-fw.fa-2x
                div.text Challenge
        li(class = pageTitl === "Settings" ? "link-list  active" : " link-list" ) 
            a(href="Settings.html") 
                .icon 
                    i.fas.fa-user-cog.fa-fw.fa-2x
                div.text Settings
