//- Start Header top
.header-top
    .container 
        .row.align-items-center
            .col-lg-6
                .icon-social-media
                    a.icon(href="") 
                        i.fa-brands.fa-facebook-f.fa-fw.fa-lg
                    a.icon(href="") 
                        i.fa-brands.fa-twitter.fa-fw.fa-lg
                    a.icon(href="") 
                        i.fa-brands.fa-instagram.fa-fw.fa-lg
            .col-lg-6.d-flex.justify-content-end
                a.language(href="") 
                    i.fa-solid.fa-flag.fa-fw.fa-lg
                    |  عربى
    
//- Start NavBar
nav.navbar.navbar-expand-lg.navbar-light
    .container
        a.navbar-brand(href='index.html') 
            img(src="images/fitnessLogo.png", alt="")
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            i.fas.fa-bars.fa-fw.fa-lg
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page', href='index.html') Home
                li.nav-item
                    a.nav-link(href='Blog.html') Blog
                
                li.nav-item
                    a.nav-link.Register(href='login.html') Register Us
//- End NavBar