- var pageTitl = "Blog";
doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="../css/owl.carousel.min.css")
        link(rel="stylesheet", href="../css/owl.theme.default.min.css")
        include includes/head.pug
    body 
        include includes/header.pug
        
        // Start Our Blog
        section.our-blog 
            .container 
                h2.text-center Official Blog
                .row 
                    .col-lg-9  
                        .blog-content 
                            .row
                                .col-lg-4.col-md-6.col-sm-12
                                    a.item(href="BlogDetails.html") 
                                        .image 
                                            img.w-100(src="images/image-4-370x300.jpg", alt="")
                                        .item-body 
                                            h4 How To Prepare To Perform Your Best
                                            .groub-info 
                                                .info-box 
                                                    i.fa-solid.fa-calendar-days.fa-fw
                                                    | Aug 5, 2021
                                                .info-box 
                                                    i.fa-solid.fa-message.fa-fw
                                                    span.number  0 
                                                    | Comment
                                                    
                                
                                .col-lg-4.col-md-6.col-sm-12
                                    a.item(href="BlogDetails.html") 
                                        .image 
                                            img.w-100(src="images/blog-5-1-300x250.jpg", alt="")
                                        .item-body 
                                            h4 10 Tips How to Prepare Meals Fast and Easy
                                            .groub-info 
                                                .info-box 
                                                    i.fa-solid.fa-calendar-days.fa-fw
                                                    | Aug 5, 2021
                                                .info-box 
                                                    i.fa-solid.fa-message.fa-fw
                                                    span.number  0 
                                                    | Comment
                                .col-lg-4.col-md-6.col-sm-12
                                    a.item(href="BlogDetails.html")  
                                        .image 
                                            img.w-100(src="images/post1.jpg", alt="")
                                        .item-body 
                                            h4 RHYTHMIC AEROBIC EXERCISES WITH STRETCHING
                                            .groub-info 
                                                .info-box 
                                                    i.fa-solid.fa-calendar-days.fa-fw
                                                    | Aug 5, 2021
                                                .info-box 
                                                    i.fa-solid.fa-message.fa-fw
                                                    span.number  0 
                                                    | Comment
                                .col-lg-4.col-md-6.col-sm-12
                                    a.item(href="BlogDetails.html")  
                                        .image 
                                            img.w-100(src="images/news-7-370x260.jpg", alt="")
                                        .item-body 
                                            h4 Push Your Fitness Further With Facilities
                                            .groub-info 
                                                .info-box 
                                                    i.fa-solid.fa-calendar-days.fa-fw
                                                    | Aug 5, 2021
                                                .info-box 
                                                    i.fa-solid.fa-message.fa-fw
                                                    span.number  0 
                                                    | Comment
                        
                    .col-lg-3 
                        .card-box 
                            .card-list 
                                .card-header
                                    h5 Search for Post
                                    .icon 
                                        i.fas.fa-angle-down.fa-fw
                                .card-body
                                    //Start input Search
                                    .input-group
                                        input.form-control(type='text' placeholder="Search " )
                                        button#button-addon2.btn(type='button') 
                                            i.fas.fa-search.fa-fw.fa-lg
                            .card-list 
                                .card-header
                                    h5 Categories
                                    .icon 
                                        i.fas.fa-angle-down.fa-fw
                                .card-body
                                    ul.list-unstyled.mb-0.list-Categories 
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Cardio
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Strength
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Stretching
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Supplements
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Clothes
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Machines
                                        li
                                            span.icon 
                                                i.far.fa-square.fa-fw
                                            |  Other
                            .card-list 
                                .card-header
                                    h5 Tags
                                    .icon 
                                        i.fas.fa-angle-down.fa-fw
                                .card-body.tag-badge
                                    span.badge.badge-pill Diet
                                    span.badge.badge-pill Nutrition
                                    span.badge.badge-pill Cardio
                                    span.badge.badge-pill Strength
                                    span.badge.badge-pill Stretching
                                    span.badge.badge-pill Supplements
                                    span.badge.badge-pill Machines
                                             
        // End Our Blog
        

        // Start Footer Copy Right
        footer.copy-right
            .container
                .d-flex.justify-content-center
                    p Design by   
                    a(href='#')  Mostafa Abobakr 
                    p   &copy;  All rights reserved | 2022.
        // End Footer Copy Right










        // Start Aside bar fixed
        aside.aside-bar-fixed
            ul.list-unstyled 
                li 
                    a(href="TrainingBackpain.html") 
                        img(src="images/pain.png", alt="")
                        span.text Back pain
                li 
                    a(href="TrainingRoughness.html") 
                        img(src="images/pain-in-joints.png", alt="")
                        span.text Roughness
                li 
                    a(href="DietObese.html") 
                        img(src="images/fat.png", alt="")
                        span.text Obese
                li 
                    a(href="") 
                        img(src="images/body-variant.png", alt="")
                        span.text Thinness
        // End Aside bar fixed




        include includes/script.pug
        script(src="../js/owl.carousel.min.js") 
        script.
            $('.card-list  .card-header .icon').click(function() {
                $(this).toggleClass('rotate').closest('.card-list').find('.card-body').slideToggle(500);
            });
            $('.list-Categories li ').click(function() {
                $(this).addClass('active').siblings().removeClass('active');
            });
            $('.tag-badge .badge ').click(function() {
                $(this).addClass('active').siblings().removeClass('active');
            });
        