- var pageTitl = "Chat";
html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/asideBar.pug
        section.overview 
            .container-fluid 
                .row 
                    .col-lg-4
                        .box-Training  
                            h4.header Chat For Groub
                            .user-chat 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                                .user-list 
                                    .image 
                                        img.w-100(src="images/profile.png", alt="")
                                    .user-list-body 
                                        h5 Mostafa Abobakr 
                                        .d-flex.justify-content-between.px-3
                                            .weight-box 
                                                .last-weight 
                                                    small L.Weight 
                                                    span.number 83 
                                            .weight-box 
                                                .current-weight 
                                                    small C.Weight 
                                                    span.number 78 
                                            .weight-box 
                                                .gool-weight 
                                                    small G.Weight 
                                                    span.number 72 
                           
                                
                            
                    .col-lg-8     
                        .chat-veiw 
                            .chat-veiw-header 
                                .user-list.ms-1
                                    .image 
                                        img.w-100(src="images/fitness.png", alt="")
                                    .user-list-body 
                                        h5.m-0 Group BodyBuilding
                                        .weight-box  16 Member
                                .form-search 
                                    .input-group
                                        input.form-control(type='text', placeholder="Search In the Groub")
                                        span.input-group-text 
                                            i.fas.fa-search.fa-fw
                            .box-chat-live 
                                .row-user 
                                    .chat-card 
                                        .image
                                            img.w-100(src="images/profile.png", alt="")
                                        .body-chat-card 
                                            .header Mahmoud Alaa
                                            .content 
                                                p Hi, How are You ?
                                            .footer-time 
                                                small Today   
                                                small 09:05
                                .row-user.send                
                                    .chat-card
                                        .image
                                            img.w-100(src="images/profile.png", alt="")
                                        .body-chat-card 
                                            .content 
                                                p I'm fine thank you, and you ?
                                            .footer-time 
                                                small Today   
                                                small 09:05
                            .box-send 
                                .icon 
                                    a(href="") 
                                        i.far.fa-grin.fa-fw.fa-lg
                                    a(href="") 
                                        i.fas.fa-paperclip.fa-fw.fa-lg

                                .form-controal 
                                    textarea#exampleFormControlTextarea1.form-control(rows='3')
                                .button-action 
                                    button(type="submit") 
                                        i.fas.fa-paper-plane.fa-fw.fa-lg






        include includes/script.pug
