h3.text-center What is your type of diet?
.form-check
    input#exercises_nutrition.form-check-input(type='radio', name='diet')
    label.form-check-label(for='exercises_nutrition')
        .label-body 
            h4 Normal
            p I don't have any specific eating options
        
.form-check
    input#exercises.form-check-input(type='radio', name='diet')
    label.form-check-label(for='exercises')
        .label-body 
            h4 vegetarian
            p I don't eat meat and fish
        
.form-check
    input#nutrition.form-check-input(type='radio', name='diet', )
    label.form-check-label(for='nutrition')
        .label-body 
            h4 Vision
            p I don't eat any meat or animal by-products
        
.event.text-center
    //-a.btn.text-center.mx-3.btn-white(href="", data-value="login") Back
    a.btn.text-center.mx-3.btn-green.next( data-value="food2.html") Next
include includes/script.pug
script.
    $(document).ready(function(){
        $('.event a').click(function() {
            var DataValue = $(this).attr('data-value');
            //-$('.operation').addClass('show').siblings().not('.filter-container').slideUp(500).removeClass('show');
            $('#Register_module').load(DataValue);
        //- console.log(DataValue);

        });
        $('input[type="radio"]').click(function(){
            if($(this).is(":checked")){
            console.log("Checkbox is checked.");
            $(this).parent('.form-check').addClass('checked').siblings().removeClass('checked');
        }
        else if($(this).is(":not(:checked)")){
            console.log("Checkbox is unchecked.");
            }
        });
    });
