h5.text-center Do you have any allergies to any foods or do not like it?
.d-flex.flex-wrap.justify-content-center.mb-2
    .form-check.gender.mx-1
        input#Milk.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Milk')
            .label-body 
                div Milk
    .form-check.gender.mx-1
        input#fish.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='fish')
            .label-body 
                div fish
    .form-check.gender.mx-1
        input#chicken.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='chicken')
            .label-body 
                div chicken
    
    .form-check.gender.mx-1
        input#Nuts.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Nuts')
            .label-body 
                div Nuts
    .form-check.gender.mx-1
        input#cheese.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='cheese')
            .label-body 
                div cheese
    .form-check.gender.mx-1
        input#Yogurt.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Yogurt')
            .label-body 
                div Yogurt
    .form-check.gender.mx-1
        input#Apple.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Apple')
            .label-body 
                div Apple
    .form-check.gender.mx-1
        input#Orange.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Orange')
            .label-body 
                div Orange
    .form-check.gender.mx-1
        input#kiwi.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='kiwi')
            .label-body 
                div Kiwi
    .form-check.gender.mx-1
        input#Strawberry.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Strawberry')
            .label-body 
                div Strawberry
    .form-check.gender.mx-1
        input#egg.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='egg')
            .label-body 
                div egg
    .form-check.gender.mx-1
        input#Meat.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Meat')
            .label-body 
                div Meat
    .form-check.gender.mx-1
        input#Pineapple.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Pineapple')
            .label-body 
                div Pineapple
    .form-check.gender.mx-1
        input#Peach.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Peach')
            .label-body 
                div Peach
    .form-check.gender.mx-1
        input#oats.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='oats')
            .label-body 
                div Oats
    .form-check.gender.mx-1
        input#Granola.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Granola')
            .label-body 
                div Granola
    .form-check.gender.mx-1
        input#Potatos.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Potatos')
            .label-body 
                div Potatos
    .form-check.gender.mx-1
        input#Shrimp.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Shrimp')
            .label-body 
                div Shrimp
    .form-check.gender.mx-1
        input#tuna.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='tuna')
            .label-body 
                div Tuna


    .form-check.gender.mx-1
        input#Quinoa.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Quinoa')
            .label-body 
                div Quinoa
    .form-check.gender.mx-1
        input#Liver.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Liver')
            .label-body 
                div Liver
    .form-check.gender.mx-1
        input#Eggplant.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Eggplant')
            .label-body 
                div Eggplant
    .form-check.gender.mx-1
        input#kofta.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='kofta')
            .label-body 
                div Kofta
    .form-check.gender.mx-1
        input#BroadBean.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='BroadBean')
            .label-body 
                div Broad Bean
    .form-check.gender.mx-1
        input#falafel.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='falafel')
            .label-body 
                div Falafel

    .form-check.gender.mx-1
        input#Mushroom.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='Mushroom')
            .label-body 
                div Mushroom
    .form-check.gender.mx-1
        input#PeanutButter.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='PeanutButter')
            .label-body 
                div Peanut Butter
    .form-check.gender.mx-1
        input#BranFlex.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='BranFlex')
            .label-body 
                div Bran Flex
    .form-check.gender.mx-1
        input#SmokedTurkey.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='SmokedTurkey')
            .label-body 
                div Smoked Turkey
    .form-check.gender.mx-1
        input#MincedMeat.form-check-input(type='checkbox', name='foods')
        label.form-check-label(for='MincedMeat')
            .label-body 
                div Minced Meat
.mb-2
    input.form-control(type='text', placeholder='else')                    
    


    


.event.text-center
    a.btn.text-center.mx-3.btn-white( data-value="food1.html") Back
    a.btn.text-center.mx-3.btn-green.next( data-value="food3.html", ) Next
script.
    $(document).ready(function(){
        $('.event a').click(function() {
        var DataValue = $(this).attr('data-value');
        //-$('.operation').addClass('show').siblings().not('.filter-container').slideUp(500).removeClass('show');
        $('#Register_module').load(DataValue);
        console.log(DataValue);

    });
        $('input[type="checkbox"]').click(function(){
            if($(this).is(":checked")){
            console.log("Checkbox is checked.");
            $(this).parent('.form-check').addClass('checked');
        }
        else if($(this).is(":not(:checked)")){
            console.log("Checkbox is unchecked.");
            }
        });
    });
