html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/header.pug
        section.Register.foods
            #Register_module.box-setup(style="height: auto")
                include food1.pug
        include includes/script.pug
        
