doctype html
html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/header.pug
        // Start Seaction Main
        main.main-section 
            h1 It's Time           
            h1 You Take         
            h1 Decision       
        // End Seaction Main  
        // Start Content Website
        section.Content-Website
            .container 
                h1.text-center We Are The Best
                .d-flex 
                    .w-20
                        .item-card 
                            .image 
                                img(src="images/Group 18.png", alt="")
                            h3.text-center fitness
                    .w-20
                        .item-card 
                            .image 
                                img(src="images/muscles.png", alt="")
                            h3.text-center bodybuilding
                    .w-20
                        .item-card 
                            .image 
                                img(src="images/whey-protein.png", alt="")
                            h3.text-center Supplements
                    .w-20
                        .item-card 
                            .image 
                                img(src="images/meal.png", alt="")
                            h3.text-center diet
                    .w-20
                        .item-card 
                            .image 
                                img(src="images/workout.png", alt="")
                            h3.text-center Cardio
        // End Content Website
        // Start Choose Us
        section.Choose-Us
            .container 
                h2 Why Choose Us
                .row 
                    .col-lg-6
                        .item 
                            .image 
                                span 1
                            .item-body 
                                h3 Determine your goal that you want to achieve
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                        .item 
                            .image 
                                span 2
                            .item-body 
                                h3 Tell us about your body
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                        .item 
                            .image 
                                span 3
                            .item-body 
                                h3 Choose your nutrition preferences
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                        .item 
                            .image 
                                span 4
                            .item-body 
                                h3 Design your workouts without restrictions
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                        .item 
                            .image 
                                span 5
                            .item-body 
                                h3 You will be added to your pool similar to your tasks
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                        .item 
                            .image 
                                span 6
                            .item-body 
                                h3 Run competitions to create a spirit of competition
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sunt voluptatem quis, tempore beatae ratione explicabo incidunt quisquam ab temporibus?
                    .col-lg-6
                        .image  
                            img.w-100.rounded(src="images/207.png", alt="")

        // End Choose Us
        // Start Best body
        section.best-body 
            .container 
                h2 Best Body  
                .row 
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_07.jpg", alt="")
                            h4.text-center STRENGTH & ENDURANCE
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_10.jpg", alt="")
                            h4.text-center Yoga
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_11.png", alt="")
                            h4.text-center APPROACH
                .row 
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_08.jpg", alt="")
                            h4.text-center Fitness
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_11 (1).png", alt="")
                            h4.text-center Zumba
                    .col-lg-4 
                        .item
                            .image 
                                img.w-100(src="images/card_image_11.jpg", alt="")
                            h4.text-center CROSSFIT WORKOUT
        // End Best body
        // Start Our Blog
        section.our-blog 
            .container 
                h2.text-center Official Blog
                .row 
                    .col-lg-3 
                        .item 
                            .image 
                                img.w-100(src="images/image-4-370x300.jpg", alt="")
                            .item-body 
                                h4 How To Prepare To Perform Your Best
                                .groub-info 
                                    .info-box 
                                        i.fa-solid.fa-calendar-days.fa-fw
                                        | Aug 5, 2021
                                    .info-box 
                                        i.fa-solid.fa-message.fa-fw
                                        span.number  0 
                                        | Comment
                                        
                    
                    .col-lg-3 
                        .item 
                            .image 
                                img.w-100(src="images/blog-5-1-300x250.jpg", alt="")
                            .item-body 
                                h4 10 Tips How to Prepare Meals Fast and Easy
                                .groub-info 
                                    .info-box 
                                        i.fa-solid.fa-calendar-days.fa-fw
                                        | Aug 5, 2021
                                    .info-box 
                                        i.fa-solid.fa-message.fa-fw
                                        span.number  0 
                                        | Comment
                    .col-lg-3 
                        .item 
                            .image 
                                img.w-100(src="images/post1.jpg", alt="")
                            .item-body 
                                h4 RHYTHMIC AEROBIC EXERCISES WITH STRETCHING
                                .groub-info 
                                    .info-box 
                                        i.fa-solid.fa-calendar-days.fa-fw
                                        | Aug 5, 2021
                                    .info-box 
                                        i.fa-solid.fa-message.fa-fw
                                        span.number  0 
                                        | Comment
                    .col-lg-3 
                        .item 
                            .image 
                                img.w-100(src="images/news-7-370x260.jpg", alt="")
                            .item-body 
                                h4 Push Your Fitness Further With Facilities
                                .groub-info 
                                    .info-box 
                                        i.fa-solid.fa-calendar-days.fa-fw
                                        | Aug 5, 2021
                                    .info-box 
                                        i.fa-solid.fa-message.fa-fw
                                        span.number  0 
                                        | Comment

        // End Our Blog
        // Start The Big Store
        section.Big-Store
            .container 
                h2 The Big Store
                .row 
                    .col-lg-6
                    .col-lg-6
                        .button-groub   
                            button.btn.active All
                            button.btn Supplements
                            button.btn Clothes
                            button.btn Machines
                            button.btn Accessories
            .container-fluid 
                .row
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/vitamin_d3_k2_120_vcaps_1.jpg", alt="")
                            .item-body 
                                h4 NOW Foods Vitamin D-3 & K-2, 120 VCaps
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/61WlB6GOlZL._AC_SX679_.jpg", alt="")
                            .item-body 
                                h4 Mens Gym Stringer Tank Top Bodybuilding Athletic Workout Muscle Quick Dry Fitness Vest L
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/51q-1kB8QaL._AC_.jpg", alt="")
                            .item-body 
                                h4 Korix Multi-functional Home Gym Station - With Weights 65 KG
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/nitro-tech_ripped_small_1.jpg", alt="")
                            .item-body 
                                h4 MuscleTech Nitro-Tech Ripped, 4lbs
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/61xfgHHNS+L._AC_SX679_.jpg", alt="")
                            .item-body 
                                h4 Dumbbell Set, 6 In 1 Adjustable Weights Dumbbells Sets, Barbell Set with Connecting Rod for Adults Women Men Workout Fitness,Home...
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART
                    .col-lg-2
                        .item   
                            .image  
                                img.w-100(src="images/iso100_5lb_frpebbles_1.jpg", alt="")
                            .item-body 
                                h4 Dymatize ISO 100 Whey Protein Powder with 25g of Hydrolyzed 100% Whey Isolate, Vanilla 5 Pound
                                .price 
                                    h3.new 750.04
                                        sub.Currency EGP
                                    del.old 1250.00
                                        sub.Currency EGP
                                .add 
                                    button.btn 
                                        i.fa-solid.fa-bag-shopping.fa-fw 
                                        |  ADD TO CART


        // End The Big Store
        // Start Team Work
        section.team-work 
            .container 
                h2.text-center Team Work
                .row
                    .col-lg-3
                        .box
                            img.w-100(src="images/maxresdefault.png", alt="")
                        .text
                            h4 Big Ramy
                            p Strength Trainer
                    .col-lg-3
                        .text
                            h4 Harley Pasternak
                            p Fitness Trainer
                        .box
                            img.w-100(src="images/harley-pasternack-personal-trainer-1.jpg", alt="")
                    .col-lg-3
                        .box
                            img.w-100(src="images/doctor-hagar-abd-eldayem-.jpg", alt="")
                        .text
                            h4 Hagar Abd ElDayem
                            p Dr. Nutrition and Treatment of Obesity and Thinness
                    .col-lg-3
                        .text
                            h4 Alexia Clark
                            p Aerobics trainer
                        .box
                            img.w-100(src="images/sporty-young-woman-jumping-isolated-white-wall.jpg", alt="")
       
                            

        // End Team Work
        // Start Footer Copy Right
        footer.copy-right
            .container
                .d-flex.justify-content-center
                    p Design by   
                    a(href='#')  Mostafa Abobakr 
                    p   &copy;  All rights reserved | 2022.
        // End Footer Copy Right










        // Start Aside bar fixed
        aside.aside-bar-fixed
            ul.list-unstyled 
                li 
                    a(href="") 
                        img(src="images/pain.png", alt="")
                        span.text Back pain
                li 
                    a(href="") 
                        img(src="images/pain-in-joints.png", alt="")
                        span.text Roughness
                li 
                    a(href="") 
                        img(src="images/fat.png", alt="")
                        span.text Obese
                li 
                    a(href="") 
                        img(src="images/body-variant.png", alt="")
                        span.text Thinness
        // End Aside bar fixed




        include includes/script.pug
        