- var pageTitl = "Quotes";
html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/asideBar.pug
        section.overview 
            .container-fluid 
                .row 
                    .col-lg-9
                        .content-chart 
                            .header 
                                h3.heading Quotes 
                                .your-gool 
                                    h5.title 	ONLY 3 MONTHS AND 15 DAYS		
                                    small 	 UNTIL YOU REACH YOUR GOAL!					
			
       
                    .col-lg-3       



        include includes/script.pug
