html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/header.pug
        section.Register.training
            #Register_module.box-setup 
                include Register1.pug
        include includes/script.pug
        
