
.form-floating.mb-5
    input#floatingInput.form-control(type='text', placeholder='Full Name')
    label(for='floatingInput') E-mail
    .icon 
        i.far.fa-envelope.fa-fw.fa-2x

.form-floating.mb-5
    input#floatingInput.form-control(type='text', placeholder='Full Name')
    label(for='floatingInput') Your Country
    .icon 
        i.fas.fa-globe.fa-fw.fa-2x
.form-floating.mb-5
    input#floatingInput.form-control(type='text', placeholder='Full Name')
    label(for='floatingInput') Your City
    .icon 
        i.fas.fa-city.fa-fw.fa-2x
.event.text-center
    a.btn.text-center.mx-3.btn-white( data-value="Register2.html") Back
    a.btn.text-center.mx-3.btn-green.next( data-value="Register4.html") Next
script.
    $(document).ready(function(){
        $('.event a').click(function() {
        var DataValue = $(this).attr('data-value');
        //-$('.operation').addClass('show').siblings().not('.filter-container').slideUp(500).removeClass('show');
        $('#Register_module').load(DataValue);
        console.log(DataValue);

    });
        $('input[type="radio"]').click(function(){
            if($(this).is(":checked")){
            console.log("Checkbox is checked.");
            $(this).parent('.form-check').addClass('checked').siblings().removeClass('checked');
        }
        else if($(this).is(":not(:checked)")){
            console.log("Checkbox is unchecked.");
            }
        });
    });
