h3.text-center What is the goal you want to achieve?
.form-check
    input#exercises_nutrition.form-check-input(type='radio', name='flexRadioDefault')
    label.form-check-label(for='exercises_nutrition')
        .label-body 
            h4 Losing weight and Fat
            p I am gaining weight and want to focus on burning fat and losing weight
        .label-image 
            i.fas.fa-weight.fa-fw.fa-3x

.form-check
    input#exercises.form-check-input(type='radio', name='flexRadioDefault')
    label.form-check-label(for='exercises')
        .label-body 
            h4 Gain muscle Mass
            p My goal is to reach an athletic body to increase muscle mass
        .label-image 
            i.fas.fa-dumbbell.fa-fw.fa-3x
.form-check
    input#nutrition.form-check-input(type='radio', name='flexRadioDefault', )
    label.form-check-label(for='nutrition')
        .label-body 
            h4 Increase Fitness
            p The goal of increasing physical fitness in general
        .label-image 
            i.fas.fa-running.fa-fw.fa-3x
.event.text-center
    a.btn.text-center.mx-3.btn-white( data-value="Register3.html") Back
    a.btn.text-center.mx-3.btn-green.next( data-value="Register5.html") Next
script.
    $(document).ready(function(){
        $('.event a').click(function() {
        var DataValue = $(this).attr('data-value');
        //-$('.operation').addClass('show').siblings().not('.filter-container').slideUp(500).removeClass('show');
        $('#Register_module').load(DataValue);
        console.log(DataValue);

    });
        $('input[type="radio"]').click(function(){
            if($(this).is(":checked")){
            console.log("Checkbox is checked.");
            $(this).parent('.form-check').addClass('checked').siblings().removeClass('checked');
        }
        else if($(this).is(":not(:checked)")){
            console.log("Checkbox is unchecked.");
            }
        });
    });
