- var pageTitl = "Training";
html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/asideBar.pug
        section.overview 
            .container-fluid 
                .row 
                    .col-lg-4
                        .box-Training  
                            // This Exercise git to (https://www.webmd.com/osteoarthritis/ss/slideshow-knee-exercises)
                            h4.header Roughness Training 
                            .box-Training-body(style="height: 88vh!important;")
                                .card-list 
                                    .card-header
                                        h5 Exercises for Osteoarthritis (12 Exercise, Repeat every Days)
                                        .icon 
                                            i.fas.fa-angle-down.fa-fw
                                    .card-body
                                        .card-item.active
                                            .image 
                                                img.w-100(src="images/arm/hqdefault.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Hamstring Stretch
                                                    span Hold for 20 seconds, then lower the leg. Repeat twice. Then, switch legs
                                                a.play-icon(, data-video="https://www.youtube.com/embed/_HAUA3rrCVw") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/hq720.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Calf Stretch
                                                    span Hold for 20 seconds. Repeat twice, then switch legs
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/0xd5KRCQP-s") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/StraightLegRaise.PNG", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Straight Leg Raise
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions. Switch legs after each set.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/drEiYK2li9Q") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/mqdefault_6s.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Quad Set
                                                    span Pause, for 5 seconds Do two sets of 10 repetitions. Switch legs after each set.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/-iMemFCxYAI") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/SeatedHiparch.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Seated Hip March
                                                    span Pause,for 3 seconds Do two sets of 10 repetitions. Switch legs after each set.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/6gOv516iooU") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/PillowSqueeze.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Pillow Squeeze
                                                    span Pause,for 5 seconds Do two sets of 10 repetitions. Switch legs after each set.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/DInNYxQ6wFk") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/HeelRaise.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Heel Raise
                                                    span Pause,for 3 seconds Do two sets of 10 repetitions. Switch legs after each set.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/J3qQrxPEhHA") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/SideLegRaise.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Side Leg Raise
                                                    span Pause,for 3 seconds Do two sets of 10 repetitions. 
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/VlwBJE1WtOQ") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/SittoStandsquat.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Sit to Stand Squat
                                                    span Pause,for 10 seconds Do two sets of 3 repetitions. 
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/6ftaQJJgkRI") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/OneLegBalance.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 One Leg Balance
                                                    span Pause,for 20 seconds Do two sets of 3 repetitions. 
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/dK2vGx1oX6o") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/StepUps.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Step Ups
                                                    span  Do two sets of 10 repetitions. Switch legs after each set
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/wfhXnLILqdk") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/Walking.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Walking Free or Walking in treadmill
                                                    span  30 Minute
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/WHcRhKsZnZY?clip=Ugkxe5ny2cm79_h3_Eq2JfGjZ8r1Es-04Tae&amp;clipt=EJChDxjw9RI") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                
                            
                    .col-lg-8    
                        .slide-show
                            
                            .vedio-box
                                iframe#iframeVideo(  height="550", src='https://www.youtube.com/embed/_HAUA3rrCVw', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', style="height: 550px !important")
    
        // Modal
        #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                .modal-content.bg-dark
                    .modal-body
                        h2.h2.text-center Please Register Now

                    .modal-footer.justify-content-center
                        button.btn.btn-white(type='button', data-bs-dismiss='modal') Close
                        a.btn.btn-green(href='login.html') Register Now                
                                


        include includes/script.pug
        script.
            $('.card-item .play-icon').click(function (){
                var mySrc =  $(this).attr('data-video');
                $(this).closest('.card-item').addClass('active').siblings().removeClass('active');
                $('#iframeVideo').attr('src', mySrc);
            });
            $('.aside-bar .link-list a').click(function (event) {
                $("#exampleModal").modal('show');
                event.preventDefault();
            });