- var pageTitl = "Training";
html(lang="en")
    head
        include includes/head.pug
    body 
        include includes/asideBar.pug
        section.overview 
            .container-fluid 
                .row 
                    .col-lg-4
                        .box-Training  
                            // This Exercise git to (https://www.webmd.com/back-pain/ss/slideshow-exercises)
                            h4.header Back Pain Training 
                            .box-Training-body(style="height: 88vh!important;")
                                .card-list 
                                    .card-header
                                        h5 Exercises to treat herniated disc
                                            br
                                            span.ps-2  (11 Exercise, Repeat every Days)
                                        .icon 
                                            i.fas.fa-angle-down.fa-fw
                                    .card-body
                                        .card-item.active
                                            .image 
                                                img.w-100(src="images/arm/ToeTouches.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Toe Touches
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions.
                                                a.play-icon(, data-video="https://www.youtube.com/embed/oH5Znrvvmtw") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/PartialCrunches.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Partial Crunches
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/K2LM4fmFf_g") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/Sit-ups.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Sit-ups
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/1fbU_MkV7NE") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/hqdefault.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Hamstring Stretches
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/_HAUA3rrCVw") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/LegLifts.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Leg Lifts
                                                    span Pause, for 3 seconds Do two sets of 10 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/bVA-JH2sZ2k") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/WallSits.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Wall Sits
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/XULOKw4E4P4") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/PressupBackExtensions.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Press-up Back Extensions
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/5eme21V1IAE") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/BirdDog.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Bird Dog
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/wiFNA3sqjCA") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/KneetoChest.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Knee to Chest
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/7xy99ZgARVA") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/PelvicTilts.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Pelvic Tilts
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/44D6Xc2Fkek") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        .card-item 
                                            .image 
                                                img.w-100(src="images/arm/Bridging.webp", alt="")
                                            .card-item-body 
                                                .info 
                                                    h5 Bridging
                                                    span Pause, for 30 seconds Do 2 repetitions.
                                                a.play-icon( ,data-video="https://www.youtube.com/embed/CtIMudUmC1c") 
                                                    i.far.fa-play-circle.fa-fw.fa-2x
                                        
                                        
                                
                            
                    .col-lg-8    
                        .slide-show
                            
                            .vedio-box
                                iframe#iframeVideo(src='https://www.youtube.com/embed/oH5Znrvvmtw', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', style="height: 550px !important")
        
        // Modal
        #exampleModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                .modal-content.bg-dark
                    .modal-body
                        h2.h2.text-center Please Register Now

                    .modal-footer.justify-content-center
                        button.btn.btn-white(type='button', data-bs-dismiss='modal') Close
                        a.btn.btn-green(href='login.html') Register Now
                
        
                            


        include includes/script.pug
        script.
            $('.card-item .play-icon').click(function (){
                var mySrc =  $(this).attr('data-video');
                $(this).closest('.card-item').addClass('active').siblings().removeClass('active');
                $('#iframeVideo').attr('src', mySrc);
            });
            $('.aside-bar .link-list a').click(function (event) {
                $("#exampleModal").modal('show');
                event.preventDefault();
            });